body {
  font-family: 'Segoe UI', sans-serif;
  font-size: 16px;
  color: #f0f0f0;
  margin: 0;
  padding: 30px;
  background-image:
  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  linear-gradient(to right, #0037ff, #ff6f00);
  background-blend-mode: overlay;
}

.header-flex {
  display: flex;
  align-items: center;
  gap: 20px;
  background: linear-gradient(90deg, #000000, #001c80);
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgb(255, 255, 255);
  margin-bottom: 40px;
  color: #ff6f00;
}

.header-flex img {
  width: 100px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 111, 0, 0.4);
}

.header-flex h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.6);
  color: #ffffff;
}

.header-flex p {
  font-size: 1rem;
  font-style: italic;
  margin: 5px 0 0;
  color: #ff6f00;
  text-decoration: underline dotted;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

.gallery-item {
  background: linear-gradient(180deg, #001a40, #000000);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 55, 255, 0.3);
  text-align: center;
  text-decoration: none;
  color: #f0f0f0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid #0037ff;
}

.gallery-item img {
  width: 100%;
  display: block;
  border-bottom: 1px solid #0037ff;
}

.gallery-item p {
  padding: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  background: #000;
  color: #ff6f00;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
}

.gallery-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 24px rgba(255, 111, 0, 0.5);
  border-color: #ff6f00;
}

.lightbox {
  display: none;
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;
  background: rgba(0, 0, 0, 0.95);
  justify-content: center;
  align-items: center;
  z-index: 999;
  flex-direction: column;
  overflow: auto;
}

.lightbox:target {
  display: flex;
}

.lightbox img {
  width: auto;
  height: auto;
  border-radius: 16px;
  border: 6px solid #0
}